<div class="seminars">
 <h1>Seminars</h1>
    <% @seminars.each do |seminar| %>
    <%= render partial: "seminar", locals: { seminar: seminar } %>
    <%= link_to '詳細', seminar_path(seminar) %>
    <% end %>
    <%= paginate @seminars %>
</div>